$sp-size: 600px;
$tablet-size: 960px;
$default-padding: 0.4rem;
$invert-padding: -$default-padding;
$half-padding: calc(#{$default-padding} / 2);
$invert-half-padding: calc(-#{$default-padding} / 2);
$border-radius: 0.3em;
$border-width: 2px;
$text-color: #1a1a1a;
$subtext-color: #808080;
$accent-color: #ac0000;
$background-color: #444;
$accent-background-color: #f6ebe9;
$mask-color: rgba(#000, 0.35);
$label-color: #4d4d4d;
$base-color0: #fff;
$base-color1: #f2f2f2;
$base-color2: #e5e5e5;
$base-color3: #ccc;
